body {
    background-color: #3a0055;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo {
    max-width: 300px;
    margin-bottom: 1rem;
}

.coming-soon {
    font-size: 1.25rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: #FFD700;
}

h1 {
    font-family: Arial, sans-serif;
    color: #00FFFF;
    margin: 0;
}

.dates {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;;
    margin-top: 2rem;
}

.date-slot {
    width: 120px;
    height: 1.5rem;
}